<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Bye Bye</title>

    <link rel="stylesheet" href="vendor/u-bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="vendor/u-bootstrap/u-bootstrap5.min.css">
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="vendor/mmenu/dist/mmenu.css">
    <link rel="stylesheet" href="vendor/mburger-css/dist/mburger.css">
    <link rel="stylesheet" href="vendor/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <div id="js-page" class="page">
        
        <section class="section u-py-lg-5 u-py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="navbar">
                            <img src="img/logo.svg" alt="logo" class="u-me-xl-5 u-me-3 navbar__logo">
                            <nav id="js-main-menu">
                                <ul class="navbar__list">
                                    <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">About</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Pricing</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">FAQ</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Blog</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Contact</a></li>
                                </ul>
                            </nav>
                            <a class="mburger u-d-block u-d-md-none" href="#js-main-menu">
                                <b></b>
                                <b></b>
                                <b></b>
                            </a>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section u-mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 u-mb-lg-5 u-mb-3">
                        <h1 class="u-text-start">Blog post №3</h1>
                        <h1 class="u-text-start blog-item__date">28.04.2022</h1>
                    </div>
                </div>
                <div class="blog-item u-mb-4 u-align-items-start">
                    <div class="blog-item__img blog-item__img--big u-me-3">
                        <img src="img/content/content-blog.jpg" alt="Blog post №1"></a>
                    </div>
                    <div class="blog-item__content">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
                        <br><br>
                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
                        <br><br>
                        Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
                        <br><br>
                        <h2 class="u-h1">
                            Header 2 of blog post
                        </h2>
                        <br>
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 

                        Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.

                        Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section u-my-5">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="blog-item-mini blog-item-mini--prev">
                            <div class="blog-item-mini__nav u-text-end u-ms-0">
                                <div class="blog-item-mini__prev">
                                    <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.734299 7.04167C0.343777 7.43219 0.343777 8.06536 0.734299 8.45588L7.09826 14.8198C7.48878 15.2104 8.12195 15.2104 8.51247 14.8198C8.903 14.4293 8.903 13.7962 8.51247 13.4056L2.85562 7.74878L8.51247 2.09192C8.903 1.7014 8.903 1.06823 8.51247 0.677708C8.12195 0.287184 7.48879 0.287184 7.09826 0.677708L0.734299 7.04167ZM47.2681 6.74878L1.44141 6.74878L1.44141 8.74878L47.2681 8.74878L47.2681 6.74878Z" fill="black"/>
                                    </svg>  
                                    Prev post                     
                                </div>  
                                <div class="blog-item-mini__title">
                                    Blog post №1
                                </div>           
                            </div>
                            <div class="blog-item-mini__anonce">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="blog-item-mini">
                            <div class="blog-item-mini__anonce order-md-1 order-2">
                                <img src="img/content/content-blog.jpg" alt="blog post №1">
                            </div>
                            <div class="blog-item-mini__nav order-md-2 order-1">
                                <div class="blog-item-mini__next">
                                    Next post                     
                                    <svg width="48" height="16" viewBox="0 0 48 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M46.7623 8.86067C47.1528 8.47015 47.1528 7.83698 46.7623 7.44646L40.3983 1.0825C40.0078 0.691972 39.3746 0.691972 38.9841 1.0825C38.5936 1.47302 38.5936 2.10619 38.9841 2.49671L44.641 8.15356L38.9841 13.8104C38.5936 14.2009 38.5936 14.8341 38.9841 15.2246C39.3746 15.6152 40.0078 15.6152 40.3983 15.2246L46.7623 8.86067ZM0.228516 9.15356H46.0552V7.15356H0.228516V9.15356Z" fill="black"/>
                                    </svg>
                                </div>  
                                <div class="blog-item-mini__title">
                                    Blog post №1
                                </div>           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section u-bg-primary u-py-5 u-mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="u-d-flex u-align-items-end u-flex-wrap">
                            <span class="u-font-size-lg-32 u-font-size-sm-32 u-font-size-24 u-font-bold u-me-4 u-lh-1 u-mb-3 u-mb-lg-0">Free consultation for new customers</span>
                            <a href="#" class="button button--white">Book</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section u-mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="u-h1 u-mb-4">Testimonials</div>
                        
                        <div class="swiper js-swiper-reviews u-position-relative">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide review">
                                    <div class="review__img">
                                        <img src="img/content/content-review.jpg" alt="Sarah Jessica Parker">
                                        <a href="#">
                                            <img src="img/icon/ico-yu.png" alt="link to youtube" class="review__img-video">
                                        </a>
                                    </div>
                                    <div class="review__wrapper">
                                        <div class="review__name">Sarah Jessica Parker</div>
                                        <div class="review__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
                                    </div>
                                </div>
                                <div class="swiper-slide review">
                                    <div class="review__img">
                                        <img src="img/content/content-review.jpg" alt="Sarah Jessica Parker">
                                    </div>
                                    <div class="review__wrapper">
                                        <div class="review__name">Parker Sarah Jessica</div>
                                        <div class="review__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review__nav-item--prev swiper-button-prev"><img src="img/icon/ico-arrow-right.png" alt="prev"></div>
                            <div class="review__nav-item--next swiper-button-next"><img src="img/icon/ico-arrow-right.png" alt="next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="footer u-pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 u-pe-md-4 order-md-1 order-2">
                        <iframe style="min-height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13960.495059666462!2d-73.99114054831466!3d40.72576371538331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2599d52a8a3b9%3A0x554e5938423060dd!2zOTYgQXZlbnVlIEEsIE5ldyBZb3JrLCBOWSAxMDAwOSwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1653094884884!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-6 u-ps-md-4 order-md-2 order-1 u-mb-md-0 u-mb-5">
                        <ul class="footer__list">
                            <li>
                                <span>
                                    <img src="img/icon/ico-geo.svg" alt="geo">
                                    NY, 96 avenue, office 318
                                </span>
                            </li>
                            <li>
                                <a href="mailto: eaves2152@gmail.com">
                                    <img src="img/icon/ico-mail.svg" alt="mail">
                                    eaves2152@gmail.com
                                </a>
                            </li>
                            <li>
                                <a href="tel: +1 347-753-2682">
                                    <img src="img/icon/ico-call.svg" alt="phone">
                                    +1 347-753-2682
                                </a>
                            </li>
                            <li>
                                <span>
                                    <img src="img/icon/ico-time.svg" alt="time">
                                    09:00 - 18:00 - Mo - Fr
                                </span>
                            </li>
                        </ul>
                        <div class="footer__socials">
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-inst.png" alt="inst">
                            </a>
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-fb.png" alt="facebook">
                            </a>
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-tg.png" alt="telegram">
                            </a>
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-wh.png" alt="whatsApp">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 order-3">
                        <div class="footer__copy">
                            All rights reserved | 2022
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <section class="section u-py-4">
            <div class="container">
                <div class="row u-text-center u-text-md-start">
                    <div class="col-md-6 u-text-md-end u-mb-md-0 u-mb-3 u-pe-md-4">
                        <a href="#" class="tab">
                            <img class="u-me-3" src="img/icon/ico-calendar.svg" alt="calendar"><b>Book an appointment</b>
                        </a>
                    </div>
                    <div class="col-md-6 u-ps-md-4">
                        <a href="#" class="tab">Schedule a consultation</a>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <script src="vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/mmenu/dist/mmenu.js"></script>
    <script src="vendor/mburger-css/dist/mburger.js"></script>
    <script src="vendor/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>