<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hair Bye Bye</title>

    <link rel="stylesheet" href="vendor/u-bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="vendor/u-bootstrap/u-bootstrap5.min.css">
    <link rel="stylesheet" href="vendor/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="vendor/mmenu/dist/mmenu.css">
    <link rel="stylesheet" href="vendor/mburger-css/dist/mburger.css">
    <link rel="stylesheet" href="vendor/bootstrap5/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="css/main.min.css">
</head>
<body>
    <div id="js-page" class="page">
        
        <section class="section u-py-lg-5 u-py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <header class="navbar">
                            <img src="img/logo.svg" alt="logo" class="u-me-xl-5 u-me-3 navbar__logo">
                            <nav id="js-main-menu">
                                <ul class="navbar__list">
                                    <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">About</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Pricing</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">FAQ</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Blog</a></li>
                                    <li class="navbar__item"><a href="#" class="navbar__link">Contact</a></li>
                                </ul>
                            </nav>
                            <a class="mburger u-d-block u-d-md-none" href="#js-main-menu">
                                <b></b>
                                <b></b>
                                <b></b>
                            </a>
                        </header>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section u-mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 u-mb-5">
                        <h1 class="u-text-start">FAQ</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="accordion">
                            <div class="accordion__title">
                                <div class="accordion__ico">
                                    <img src="img/icon/ico-arrow-bottom.svg" alt="toggle">
                                </div>
                                Freaquently asked Question №1
                            </div>
                            <div class="accordion__content">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__title">
                                <div class="accordion__ico">
                                    <img src="img/icon/ico-arrow-bottom.svg" alt="toggle">
                                </div>
                                Freaquently asked Question №2
                            </div>
                            <div class="accordion__content">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                            </div>
                        </div>
                        <div class="accordion accordion--active">
                            <div class="accordion__title">
                                <div class="accordion__ico">
                                    <img src="img/icon/ico-arrow-bottom.svg" alt="toggle">
                                </div>
                                Freaquently asked Question №3
                            </div>
                            <div class="accordion__content">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__title">
                                <div class="accordion__ico">
                                    <img src="img/icon/ico-arrow-bottom.svg" alt="toggle">
                                </div>
                                Freaquently asked Question №4
                            </div>
                            <div class="accordion__content">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__title">
                                <div class="accordion__ico">
                                    <img src="img/icon/ico-arrow-bottom.svg" alt="toggle">
                                </div>
                                Freaquently asked Question №5
                            </div>
                            <div class="accordion__content">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                            </div>
                        </div>
                        <div class="accordion">
                            <div class="accordion__title">
                                <div class="accordion__ico">
                                    <img src="img/icon/ico-arrow-bottom.svg" alt="toggle">
                                </div>
                                Freaquently asked Question №6
                            </div>
                            <div class="accordion__content">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="section u-mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="u-h1 u-mb-4">Testimonials</div>
                        
                        <div class="swiper js-swiper-reviews u-position-relative">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide review">
                                    <div class="review__img">
                                        <img src="img/content/content-review.jpg" alt="Sarah Jessica Parker">
                                        <a href="#">
                                            <img src="img/icon/ico-yu.png" alt="link to youtube" class="review__img-video">
                                        </a>
                                    </div>
                                    <div class="review__wrapper">
                                        <div class="review__name">Sarah Jessica Parker</div>
                                        <div class="review__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
                                    </div>
                                </div>
                                <div class="swiper-slide review">
                                    <div class="review__img">
                                        <img src="img/content/content-review.jpg" alt="Sarah Jessica Parker">
                                    </div>
                                    <div class="review__wrapper">
                                        <div class="review__name">Parker Sarah Jessica</div>
                                        <div class="review__description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review__nav-item--prev swiper-button-prev"><img src="img/icon/ico-arrow-right.png" alt="prev"></div>
                            <div class="review__nav-item--next swiper-button-next"><img src="img/icon/ico-arrow-right.png" alt="next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="footer u-pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 u-pe-md-4 order-md-1 order-2">
                        <iframe style="min-height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13960.495059666462!2d-73.99114054831466!3d40.72576371538331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2599d52a8a3b9%3A0x554e5938423060dd!2zOTYgQXZlbnVlIEEsIE5ldyBZb3JrLCBOWSAxMDAwOSwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1653094884884!5m2!1sru!2sru" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <div class="col-md-6 u-ps-md-4 order-md-2 order-1 u-mb-md-0 u-mb-5">
                        <ul class="footer__list">
                            <li>
                                <span>
                                    <img src="img/icon/ico-geo.svg" alt="geo">
                                    NY, 96 avenue, office 318
                                </span>
                            </li>
                            <li>
                                <a href="mailto: eaves2152@gmail.com">
                                    <img src="img/icon/ico-mail.svg" alt="mail">
                                    eaves2152@gmail.com
                                </a>
                            </li>
                            <li>
                                <a href="tel: +1 347-753-2682">
                                    <img src="img/icon/ico-call.svg" alt="phone">
                                    +1 347-753-2682
                                </a>
                            </li>
                            <li>
                                <span>
                                    <img src="img/icon/ico-time.svg" alt="time">
                                    09:00 - 18:00 - Mo - Fr
                                </span>
                            </li>
                        </ul>
                        <div class="footer__socials">
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-inst.png" alt="inst">
                            </a>
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-fb.png" alt="facebook">
                            </a>
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-tg.png" alt="telegram">
                            </a>
                            <a href="#">
                                <img target="_blank" src="img/icon/ico-wh.png" alt="whatsApp">
                            </a>
                        </div>
                    </div>
                    <div class="col-12 order-3">
                        <div class="footer__copy">
                            All rights reserved | 2022
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <section class="section u-py-4">
            <div class="container">
                <div class="row u-text-center u-text-md-start">
                    <div class="col-md-6 u-text-md-end u-mb-md-0 u-mb-3 u-pe-md-4">
                        <a href="#" class="tab">
                            <img class="u-me-3" src="img/icon/ico-calendar.svg" alt="calendar"><b>Book an appointment</b>
                        </a>
                    </div>
                    <div class="col-md-6 u-ps-md-4">
                        <a href="#" class="tab">Schedule a consultation</a>
                    </div>
                </div>
            </div>
        </section>
        
    </div>

    <script src="vendor/jquery/jquery-3.6.0.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/mmenu/dist/mmenu.js"></script>
    <script src="vendor/mburger-css/dist/mburger.js"></script>
    <script src="vendor/bootstrap5/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-ui/jquery-ui.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>